.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.b-0 {
  bottom: 0;
}

.h-x {
 height: 250px;
}

.m-3 {
  margin: 3px;
}

.m-3-r {
  margin-right: 3px;
}

.m-100 {
  margin: 100px;
}

.p-a {
  position: absolute;
}

.w-mx-x {
  max-width: 800px;
}

.w-mx-380 {
  max-width: 380px;
}

.w-100p {
  width: 100%;
}

.w-40p {
  width: 40%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
